/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 de out. de 2024, 19:25:47
    Author     : user
*/

   /* Variáveis */
        :root {
            --main-color: #bc9667; /* Dourado suave */
            --second-color: #edeae3; /* Creme claro */
            --text-color: #1b1b1b; /* Preto */
            --bg-color: #fff; /* Branco */
        }

        * { 
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Poppins", sans-serif;
            background-color: var(--bg-color);
            color: var(--text-color);
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: var(--second-color);
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

        header {
            text-align: center;
            margin-bottom: 30px;
        }

        h1 {
            color: var(--text-color); /* Cor preta para o título */
        }

        .order-history {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .order {
            background-color: #f7f7f7;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .order h3 {
            color: var(--text-color);
        }

        .order p {
            margin: 10px 0;
        }

        ul {
            list-style-type: none;
            margin: 10px 0;
        }

        ul li {
            margin-bottom: 5px;
        }

        /* Estilização dos botões */
        .button-container {
            display: flex;
            gap: 10px; /* Espaço entre os botões */
        }

        .edit-btn, .delete-btn {
            background-color: var(--main-color);
            color: var(--bg-color);
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .edit-btn:hover, .delete-btn:hover {
            background-color: #936c49; /* Tonalidade mais escura do dourado */
        }

        footer {
            text-align: center;
            margin-top: 20px;
            color: #777;
        }